<?xml version="1.0"?>
<launch>
  
  <!-- parameters fo person detection rosnode -->
  <arg name="trigger"  default="" />
  
  <!-- Person detection rosnode -->
  <node name="trigger_topic" pkg="robocup_nlp" type="trigger_topic.py" >
    <param name="trigger" value="$(arg trigger)" />
    
  </node>

</launch>

