<?xml version="1.0"?>
<launch>
  
  <!-- parameters fo person detection rosnode -->
  <arg name="username"  default="" />
  
  <!-- Person detection rosnode -->
  <node name="username_topic" pkg="robocup_nlp" type="username_topic.py" >
    <param name="username" value="$(arg username)" />
    
  </node>

</launch>

